<h1>プロフィール編集</h1>
<% if @user.avatar.attached? %>
    <%= image_tag @user.avatar.variant(resize: "100x100") %>
<% end %>
<%= render 'form', user: @user%>
<%= link_to '一覧へ戻る', gossips_path %>
<%= link_to 'withdraw',  '/sign_out', method: :delete %>